<c-row>
  <c-col md="12">
    <c-card class="mb-4 shadow-sm w-300">
      <c-card-body>

        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">Gestion des dossiers non traités </h5>

          <div class="d-flex gap-2 align-items-center">


      <button
  type="button"
  class="btn btn-primary d-flex align-items-center justify-content-center"
  style="height: 38px; padding: 0 12px; gap: 6px;"
  (click)="generatePdfReport()"
>  <span>Rapport</span>
</button>

          </div>
        </div>


          <!-- Tableau Ag-Grid -->
        <ag-grid-angular
          style="width: 100%; height:700px;"
          class="ag-theme-alpine"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [rowData]="rowData"
          [pagination]="true"
          [paginationPageSize]="paginationPageSize"
          [paginationPageSizeSelector]="paginationPageSizeSelector"
          (gridReady)="onGridReady($event)"
        ></ag-grid-angular>




      </c-card-body>
    </c-card>
  </c-col>
</c-row>
