
<c-row>
             <c-col xs>
               <c-card class="mb-4 shadow-sm">
                 <c-card-body>

                   <!-- Barre de recherche -->
                   <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                     <h5 class="mb-3 mb-md-0">Gestion des blackliste</h5>

                     <form class="row g-2 align-items-center ms-auto" (submit)="check()">

                       <div class="col-auto">
                         <input type="text" class="form-control" [(ngModel)]="nomFournisseur" name="fournisseur" placeholder="Nom du fournisseur">
                       </div>

                       <!-- Bouton Vérifier -->
                       <div class="col-auto">
                         <button type="submit" class="btn btn-primary">Vérifier</button>
                       </div>
                     </form>
                   </div>



                   <ag-grid-angular
                     style="width: 100%; height:700px;"
                     class="ag-theme-alpine"
                     [columnDefs]="columnDefs"
                     [defaultColDef]="defaultColDef"
                     [rowData]="rowData"
                     [pagination]="true"
                     [paginationPageSize]="paginationPageSize"
                     [paginationPageSizeSelector]="paginationPageSizeSelector"
                     (gridReady)="onGridReady($event)"
                   ></ag-grid-angular>


                 </c-card-body>
               </c-card>
             </c-col>
           </c-row>

<div #editModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modifier le fournisseur</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeEditModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="submitEdit()">
          <div class="mb-3">
            <label class="form-label">Dénomination</label>
            <input type="text" class="form-control" formControlName="denomination">
          </div>
          <div class="mb-3">
            <label class="form-label">Activité</label>
            <input type="text" class="form-control" formControlName="activite">
          </div>
          <div class="mb-3">
            <label class="form-label">Structure Demande Exclusion</label>
            <input type="text" class="form-control" formControlName="structureDemandeExclusion">
          </div>
          <div class="mb-3">
            <label class="form-label">Date Exclusion</label>
            <input type="date" class="form-control" formControlName="dateExclusion">
          </div>
          <div class="mb-3">
            <label class="form-label">Motifs</label>
            <textarea class="form-control" formControlName="motifs"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Durée Exclusion(Jours)</label>
            <input type="text" class="form-control" formControlName="dureeExclusion">
          </div>

          <div class="d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Annuler</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
